.form-container[b-y0pmxcm1jz] {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.form-group[b-y0pmxcm1jz] {
    margin-bottom: 15px;
}

.form-container h1[b-y0pmxcm1jz] {
    text-align: center;
}

